/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--color2);
  border-radius: 10px;
}
body {
  overflow-x: hidden;}
.container-fluid{
  background-color:#26272b;
}
.container-fluid a{
  color: var(--color2);
}
.container-fluid a:hover{
  color: white;
}
.images{
     width: 30%; 
    height: 80%; 
    position:absolute;
     bottom: 0; 
    right: 11px; 
} 
.about{
    margin-left: 8%;
    margin-top: 15%;
    font-size: 2.5rem;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.about h1{
    color: aliceblue;
    font-size: 3.5rem;
}
.ME p{
    align-content: center;
    color: var(--color2);
    margin-top: 22%;
    margin-bottom: 3%;
}
.ME h4{
     text-align:center; 
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    
}
.ME {
  max-width: 1050px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 10px; /* Add padding to create space on both sides */
}

.about-content {
  text-align: justify; 
}



:root{
    --color1: #010209;
    --color2: #B1B2FF;
    --color3: #3754d7;
}
body{
    background-color: var(--color1);
    font-family: sans-serif;
    color: aliceblue; 
    
}

/* .image{ 
    width: 35%; 
   height: 85%; 
   position: absolute;
   bottom: 0;
   right: 10px;
}*/

.circle{
      border-radius: 50%;  
      overflow: hidden;  
}
/* .images img{  
      height:40%;  
    position: centre;   
     left: 50%;   
       bottom: 0;   
      transform: translateX(-50%);   
     transition: bottom 1s, left 1s;  
 } */
 /* .image img{  */
    /* height:80%;   */
  /* position: absolute;   
   left: 50%;   
    bottom: 0;  
    transform: translateX(-50%);   
   transition: bottom 1s, left 1s;   
}*/ 

* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
/* .mySlides {display: none;} */
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 5%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  margin-left: 30%;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.skill p{
  align-content: center;
  color: var(--color2);
  margin-top: 10%;
  margin-bottom: 5%;
 
}
.project p{
  align-content: center;
  color: var(--color2);
  margin-top: 10%;
}
.card-link {
  text-decoration: none;
  color: inherit;
 
}
.container{
  margin-top: 5%;
  
}

.card-body{
  background-color:#26272b;
 
}
.card-body p{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

/* .card-body:hover{
  transform: translate(5px, -5px);
}  */
.card-link:hover {
  color: var(--color2);
}
/* Define a CSS class for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the card-body within the project cards */
.card-body {
  animation: fadeIn 0.3s ease-in-out; /* Adjust the animation duration and easing as needed */
}
.card-body:hover {
  transform: scale(1.05); /* Adjust the scale factor as needed */
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:17px;
  line-height:24px;
  color:#737373;
  margin-top: 10%;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color: var(--color2);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: var(--color2);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color: var(--color2);
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.Github:hover
{
  background-color:#3b5998
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.Gmail:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}